<!--
  Generated template for the Game page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header padding >

  <ion-navbar padding color="primary" text-center>
    <ion-title>Farkle!</ion-title>
    <ion-buttons end side="primary">
      <button ion-button icon-only (click)="toGamelobby()" *ngIf="showHome">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding fab-center>
<ion-card>
  <ion-grid>
    <ion-row>
      <ion-col padding class="dicedisplay" [ngClass]="{'selected': this.die1.selected}">
        <button (click)="selectDie1()"><p>Die 1</p></button>
      </ion-col>
      <ion-col padding class="dicedisplay">
        Die 2
      </ion-col>
      <ion-col padding class="dicedisplay">
        Die 3
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col padding class="dicedisplay">
        Die 4
      </ion-col>
      <ion-col padding class="dicedisplay">
        Die 5
      </ion-col>
      <ion-col padding class="dicedisplay">
        Die 6
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
<ion-card>
  <ion-buttons>
    <ion-grid>
      <ion-row space>
    <button ion-col start>Roll</button>
    <ion-col></ion-col>
    <button ion-col end>Bank</button>
    </ion-row>
    </ion-grid>
  </ion-buttons>
</ion-card>
<ion-card>
  <ion-card-header>Score
  <br />
  <p style="text-align: center">{{ this.highScores['player'] }} : {{ this.highScores['CPU'] }}</p>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row class="scoreHeader">
        <ion-col>Player</ion-col>
        <ion-col>CPU</ion-col>
      </ion-row>
      <ion-row *ngFor="let score of scores">
        <ion-col>{{score['player']}}</ion-col>
        <ion-col>{{score['CPU']}}</ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
</ion-content>
